/* @import "../../src/style.css"; */

@media (min-width: 658px) {
  #wg-parent-main {
    padding-right: 10%;
    padding-left: 10%;
  }
}
@media (min-width: 877px) {
  #wg-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
  }
}
@media (min-width: 1200px) {
  #wg-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }
}

#wg-main-child-two {
  color: #ffffff;
  text-shadow:
    0 1px 3px rgba(0, 0, 0, 11),
    0 0 8px rgba(0, 0, 0, 129);
}
