.e-main-btn-939-one,
.e-main-btn-939-two {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px 20px;
  border-radius: 0.3rem;
  width: 49%;
}

@media (max-width: 998px) {
  .main-conte-ex-fi {
    margin-top: 150px;
  }
}
@media (max-width: 400px) {
  .e-main-btn-939,
  .e-main-btn-939-hid {
    font-size: 14px;
    /* padding: 10px 0px; */
  }
  .e-main-btn-939-one,
  .e-main-btn-939-two {
    width: 48%;
    padding: 10px 5px;
  }
}
@media (max-width: 322px) {
  .e-main-btn-939,
  .e-main-btn-939-hid {
    font-size: 12px;
  }
  .e-main-btn-939-one,
  .e-main-btn-939-two {
    padding: 10px 4px;
  }
}
@media (max-width: 270px) {
  .e-main-btn-939,
  .e-main-btn-939-hid {
    font-size: 9px;
  }
  .e-main-btn-939-one,
  .e-main-btn-939-two {
    padding: 10px 0px;
  }
}
@media (min-width: 884px) {
  .e-main-btn-939-hid {
    display: none;
  }

  .e-main-btn-939-one,
  .e-main-btn-939-two,
  .e-main-btn-939-three {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 20px;
    border-radius: 0.3rem;
    width: 31%;
  }
}

@media (max-width: 601px) {
  .main-conte-ex-fi {
    margin-top: 100px;
  }
}
