@import "tailwindcss";

#homepage-child-boxs {
  background: #fff;
  border-radius: 18px;
  padding: 30px;
  text-align: center;
  cursor: pointer;
  color: rgb(60, 60, 174);

  box-shadow:
    0 4px 12px rgba(0, 0, 0, 0.18),
    0 1px 3px rgba(0, 0, 0, 0.5);

  transition: all 0.3s ease;
}

#homepage-child-boxs:hover {
  transform: translateY(-8px);

  box-shadow:
    0 15px 35px rgba(0, 0, 0, 0.77),
    0 8px 15px rgba(0, 0, 0, 0.01);
}
#homepage-child-boxs:hover p {
  color: black;
}
