@import "tailwindcss";

@theme {
  --font-moul: "Moul", sans-serif;
  --font-battambang: "Battambang", sans-serif;
  --font-moul: "Moul", serif;
  --font-fasthand: "Fasthand", cursive;
  --font-freehand: "Freehand", cursive;
  --font-angkor: "Angkor", serif;
  --font-prosto: "Prosto One", sans-serif;
}
