@import "tailwindcss";
@import "./fonts.css";
@import "./design.css";

.menu {
  display: none;
}

@media (min-width: 200px) {
  #homepage-child-boxs img {
    width: 30px;
  }
  #homepage-child-boxs p {
    font-size: 10px;
  }
}
@media (min-width: 400px) {
  #homepage-child-boxs img {
    width: 32px;
  }
  #homepage-child-boxs p {
    font-size: 20px;
  }
  #btn-main a {
    width: 110px;
  }
  #btn-main button {
    width: 110px;
  }
}
@media (min-width: 442px) {
  #btn-main a {
    width: 125px;
    font-size: 12px;
  }
  #btn-main button {
    width: 125px;
    font-size: 12px;
  }
}
.menu.show {
  display: block;
  position: absolute;
  right: 0px;
  top: 10vh;
  background-color: rgb(71, 66, 66);
  width: 100%;
  height: 7vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
#showl li:nth-child(n + 4) {
  cursor: pointer;
}
#showl li img {
  cursor: pointer;
}

/* studentpage */
#btnl {
  display: none;
}
@media (max-width: 600px) {
  #btnl {
    display: block;
    margin-right: 15%;
  }
  #navimgone {
    width: 20px;
    position: relative;
    top: 5px;
    left: 20%;
  }
  #navimgtwo {
    width: 20px;
    position: absolute;
    top: 5px;
    right: 45%;
  }
  #navimgthree {
    width: 20px;
    position: absolute;
    top: 5px;
    right: 20%;
  }
}
/* @media (max-width: 380px) {
  #navimgtwo {
    width: 20px;
    position: absolute;
    top: 5px;
    right: 45%;
  }
} */

#showl {
  display: none;
}
@media (min-width: 601px) {
  #showl {
    display: flex;
    position: absolute;
    width: 100%;
    top: 8vh;
    right: 0;
    height: 6vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(131, 146, 146);
  }
  #section-firstpage {
    margin-top: 150px;
  }
  #navv {
    font-size: 15px;
  }
  #showl li img {
    width: 30px;
  }
  #btn-main a {
    width: 170px;
    font-size: 15px;
  }
  #btn-main button {
    width: 170px;
    font-size: 15px;
  }
}
@media (min-width: 720px) {
  .menu {
    display: block;
    margin-right: 8%;
  }
}

@media (min-width: 719px) {
  #homepage {
    width: 100%;
    height: 70vh;
    flex-direction: row;
    margin-top: 7.6%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #circle-img {
    padding-top: 100px;
  }
}
@media (min-width: 800px) {
  #homepage-child-boxs img {
    width: 33px;
  }
  #homepage-child-boxs p {
    font-size: 21px;
  }
  #btn-main a {
    width: 200px;
    font-size: 17px;
  }
  #btn-main button {
    width: 200px;
    font-size: 17px;
  }
}
@media (min-width: 952px) {
  #homepage {
    margin-top: 5%;
    height: 80vh;
  }
  #circle-img {
    width: 200%;
    padding-top: 100px;
  }
  #titleofhomepage p {
    font-size: 17px;
  }

  #section-firstpage-one {
    width: 80%;
    height: 30vh;
  }

  #section-firstpage-two {
    width: 60%;
  }
  #pr-main #pr-main-chone,
  #pr-main #pr-main-chtwo,
  #iddtwo {
    font-size: 14px;
  }
  #section-firstpage-one {
    gap: 40px;
  }
}

@media (min-width: 997px) {
  #showl {
    display: flex;
    position: absolute;
    top: 0px;
    background-color: #4b5563;
    width: 50%;
    height: 8vh;
    justify-content: end;
    align-items: center;
    margin-right: 13.9%;
    gap: 2rem;
  }
  #showl {
    gap: 15px;
  }
  #showl li {
    font-size: 12px;
  }
  #showl li img {
    width: 20px;
  }
  #section-firstpage {
    margin-top: 100px;
  }
  #section-firstpage-two div {
    height: 20vh;
  }
}
@media (min-width: 1100px) {
  #homepage {
    margin-top: 5%;
    height: 80vh;
  }
  #circle-img {
    width: 150%;
    padding-top: 100px;
  }
  #titleofhomepage p {
    font-size: 17px;
  }
  #showl {
    gap: 20px;
  }
  #showl li {
    font-size: 13px;
  }
  #homepage-child-boxs img {
    width: 35px;
  }
  #homepage-child-boxs p {
    font-size: 24px;
  }
}
@media (min-width: 1214px) {
  #homepage {
    margin-top: 5%;
    height: 95vh;
  }
  #circle-img {
    width: 100%;
    padding-top: 100px;
  }
  #titleofhomepage p {
    font-size: 20px;
  }
  #showl {
    gap: 21px;
  }
  #showl li {
    font-size: 15px;
  }
  #showl li img {
    width: 20px;
  }
  #section-firstpage-one {
    width: 70%;
  }
  #btn-main a {
    width: 170px;
    font-size: 17px;
  }
  #btn-main button {
    width: 170px;
    font-size: 17px;
  }
}
@media (min-width: 1450px) {
  #homepage {
    margin-top: 4%;
  }
  #circle-img {
    width: 100%;
    padding-top: 100px;
  }
  #titleofhomepage p {
    font-size: 20px;
  }
  #showl {
    gap: 21px;
  }
  #showl li {
    font-size: 19px;
  }
  #showl li img {
    width: 25px;
  }
}

#showl.showtwo {
  display: flex;
  position: absolute;
  left: 0px;
  top: 8vh;
  background-color: rgb(37, 35, 35);
  background-color: rgba(37, 35, 35, 0.55); /* lower alpha = more see-through */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  width: 50%;
  height: 50vh;
  display: flex;
  /* align-items: center; */
  justify-content: start;
  flex-direction: column;
  border-top-right-radius: 0;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 0px 10px;
}
@media (min-width: 360px) {
  #iddone {
    width: 170%;
  }
}

@media (min-width: 380px) {
  #iddone {
    width: 190%;
  }
}
/* @media (min-width: 420px) {
  #iddone {
    width: 200%;
  }
} */

@media (min-width: 420px) {
  #iddone {
    width: 240%;
  }
  #section-firstpage {
    margin-top: 10;
  }
}
@media (min-width: 500px) {
  #iddone {
    width: 270%;
  }
}
@media (min-width: 500px) {
  #iddone {
    width: 300%;
  }
}
@media (min-width: 500px) {
  #iddone {
    width: 300px;
  }
}
